/* Estilos Generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: url(inicio.png) no-repeat center center fixed;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column; /* Para asegurar que el footer quede abajo */
    min-height: 100vh; /* Asegura que el body ocupe toda la pantalla */
}

/* Estilo del Header */
header {
    position: relative;
}

/* Estilo del Logo */
.logo {
    width: 100px; /* Ajusta el tamaño del logo */
    height: auto;
    position: absolute; /* Posiciona el logo de forma absoluta */
    top: 10px; /* Ajusta la posición desde la parte superior */
    left: 10px; /* Ajusta la posición desde la izquierda */
    z-index: 100; /* Valor alto para asegurar que se superponga */
}

/* Estilo del Sidebar/Dashboard */
.sidebar {
    width: 250px;
    background: #272729; /* Color oscuro */
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; /* Asegura que el sidebar esté debajo del logo */
    padding-top: 20px;
}




footer {
    margin-top: auto; /* Empuja el footer hacia la parte inferior de la página */
    background-color: #272729;
    padding: 10px;
    text-align: center;
    color: #ffffff;
}

/* Sidebar de Navegación */
nav {
    width: 250px;
    background: #272729;
    height: 100vh;
    position: fixed;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    padding: 15px 20px;
    text-align: left;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    transition: background 0.3s, padding-left 0.3s;
}

nav ul li a:hover {
    background: #384152; /* Color para hover */
    border-radius: 5px;
    padding-left: 10px;
}

/* Contenido Principal */
main {
    margin-left: 250px;
    padding: 40px;
    width: calc(100% - 250px);
    overflow-y: auto;
    background: rgba(39, 39, 41, 0.9); /* Fondo más oscuro */
    border-radius: 0; /* Sin bordes circulares */
}

h1 {
    color: #C09788;
    text-shadow: 
        1px 1px 0 rgba(0, 0, 0, 1),
        -1px -1px 0 rgba(0, 0, 0, 1),
        1px -1px 0 rgba(0, 0, 0, 1),
        -1px 1px 0 rgba(0, 0, 0, 1);
}

/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: rgba(82, 82, 91, 0.9); /* Fondo oscuro para la tabla */
}

table thead {
    background: #384152;
}

table th, table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table tbody tr:hover {
    background: rgba(82, 82, 91, 0.8); /* Hover sobre las filas */
}

table th {
    color: white;
}

table td {
    color: #ecf0f1;
}

/* Responsivo */
@media (max-width: 1200px) {
    main {
        margin-left: 0;
        width: 100%;
    }

    nav {
        width: 100%;
        height: auto;
        position: relative;
    }
}
